:root {
  --accent-color: rgb(255, 209, 148)
}

body {
  background-color: #faead6;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

footer, header {
  padding: 20px;
  background-color: var(--accent-color);
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 44px;
}

nav, .socials {
  display: flex;  
  align-items: flex-end;
}

nav a, footer a {
  margin-left: 16px;
  color: rgb(0, 0, 0);
  text-decoration: none;  
  font-size: 24px;
}

nav a:hover {
  text-decoration: underline;  
}

article {
  padding: 20px;
  font-size: 24px;
  line-height: 36px;     
}

.about-details {
  display: flex;
  flex-wrap: flex-start;
  flex-direction: row-reverse;
  padding: 20px;
}

.about-details img {
  border-radius: 24px;  
}

#work {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;  
}

section {
  width: 50%;  
  padding: 20px;   
}

.featured {
  width: 100%;
}

section img:hover {  
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);    
}

section img {
  width: 100%;
  border-radius: 24px;
  border: solid black 1px;
  transition: all 300ms ease;  
}

h2 {
  font-size: 36px;
  padding-left: 16px;  
  background-color: var(--accent-color);
  width: 100%;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

h3 {
  position: relative;
  width: 270px;
  border: solid 4px;  
  padding: 2px;
  top: 48px;  
  color: black;
  text-decoration: none;
  background-color: var(--accent-color);
  border-top-left-radius: 24px; 
  border-bottom-right-radius: 24px; 
}

.about-text {
  padding: 10px;
}

p {
  text-indent: 20px;
}

.socials img {
  max-height: 50px;
}

@media screen and (max-width: 768px) {
  section {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .about-details, header, footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  nav, .socials {
    /* display: block;
    text-align: center;
    padding: 20px; */  
    justify-content: space-around;
    padding-top: 20px;
  }
}