body {
  background-color: #faead6;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

footer, header {
  padding: 20px;
  background-color: rgb(255, 209, 148);
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 36px;
}

nav, .socials {
  display: flex;  
  align-items: flex-end;
}

nav a, footer a {
  margin-left: 16px;
  color: rgb(0, 0, 0);
  text-decoration: none;  
}

article {
  padding: 20px;
  font-size: 24px;
  line-height: 36px;
}

.about-details {
  display: flex;
  flex-wrap: flex-start;
  flex-direction: row-reverse;
}

.about-details img {
  border-radius: 24px;
}

#work {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

section {
  width: 50%;  
  padding: 20px; 
}

section:hover {
  outline-style: inset; 
}

section img {
  width: 100%;
  border-radius: 24px;
}

.featured {
  width: 100%;
}

h2 {
  font-size: 24px;
}

/* h3 {
  position: absolute;
  top: 32px;
  left: 38px;
} */


.socials img {
  max-height: 50px;
}