body {
  background-color: antiquewhite;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container > header {
  padding: 20px;
  background-color: rgb(255, 209, 148);
  display: flex;
  justify-content: space-between;
}

nav a {
  margin-left: 16px;
  color: antiquewhite;
  text-decoration: none;
}

section {
  padding: 20px;
}